*

# project root files
!.gitattributes
!.gitignore
!Dockerfile
!_quarto.yml
!environment.yml
!justfile
!LICENSE
!main.nf
!nextflow.config
!pixi.lock
!pyproject.toml
!README.md
!uv.lock

# assets directory
!/assets
!/assets/*.fa
!/assets/*.fasta
!/assets/*.fasta.gz
!/assets/*.fasta.fai
!/assets/Snakefile
!/assets/HLA-A-mRNA-annotation.txt

# script bin
!/bin
!/bin/*.py
!/bin/*.awk
!/bin/*.pl
!/bin/*.sh

# groovy lib
!/lib
!/lib/Utils.groovy

# configuration
!/conf
!/conf/publishDirs.config

# nextflow workflows
!/workflows
!/workflows/*.nf

# nextflow subworkflows
!/subworkflows
!/subworkflows/*.nf

# nextflow modules
!/modules
!/modules/*.nf

# documentation
!/docs
!/docs/*.qmd
!/docs/*.md
!/docs/*.pdf
!/docs/*.html.gz
