params {

    //
    help                    = null

    // 
    input_dir               = null

    //
    primer_tsv              = null

    // 
    guide_fasta             = "${projectDir}/assets/24923-vsearch-07-mhc-I.fasta"

    // 
    gdna_reference_fasta    = null

    // 
    cdna_reference_fasta    = null

    //
    enforce_shared_clusters = true

    // 
    hla_mrna_reference      = "${projectDir}/assets/HLA-A-mRNA.fasta"

    // 
    hla_cds_annotation      = "${projectDir}/assets/HLA-A-mRNA-annotation.txt"

    // 
    results                 = "${launchDir}/results"

    //
    min_total_reads         = 100

    //
    min_read_length         = 500

    //
    best_read_count         = 1000

    //
    max_mismatch            = 0

    //
    email                   = null

    // 
    cleanup                 = null
}

includeConfig "${projectDir}/conf/publishDirs.config"


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
    enabled   = true
    overwrite = true
    file      = "${params.results}/report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
    enabled   = true
    overwrite = true
    file      = "${params.results}/workflow-visualization.png"
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = params.cleanup


// PROFILE OPTIONS
profiles {

    standard {

        docker.enabled      = true
        singularity.enabled = false
        conda.enabled       = false

        process.container   = ""
    }

    docker {

        docker.enabled      = true
        singularity.enabled = false
        conda.enabled       = false

        process.container   = ""
    }

    singularity {

        singularity.enabled = true
        docker.enabled      = false
        conda.enabled       = false

        process.container   = "docker://"
    }

    apptainer {

        apptainer.enabled = true
        docker.enabled    = false
        conda.enabled     = false

        process.container = "docker://dockerreg.chtc.wisc.edu/dhoconno/mhc-alleles-from-gdna-amplicons:26132"
    }

    containerless {

        apptainer.enabled = false
        docker.enabled    = false
        conda.enabled     = false
    }
}


// MANIFEST
manifest {
    name          = "alleled"
    homePage      = ""
    mainScript    = "main.nf"
    defaultBranch = "main"
    description   = ""
    author        = ""
}
