params {

    // preprocessing results
    preprocessing      = params.results + "/01_preprocessing"
    top_quality        = params.preprocessing + "/01_top_quality_reads"
    amplicon_stats     = params.top_quality + "/amplicon_stats"
    clustering         = params.preprocessing + "/02_pbaa_clusters"
    deduped_clusters   = params.clustering + "/01_deduped_renamed"
    merged_clusters    = params.clustering + "/02_merged"
    shared_clusters    = params.clustering + "/03_shared_renamed"

    // allele discovery results
    allele_discovery   = params.results + "/02_allele_discovery"
    gdna_results       = params.allele_discovery + "/01_gdna_processing"
    exact_gdna_matches = params.gdna_results + "/01_exact_gdna_matches"
    novel_alleles      = params.allele_discovery + "/02_putative_novel_alleles"
    novel_annotations  = params.novel_alleles + "/exonerate_annotations"
    cdna_results       = params.allele_discovery + "/03_cdna_processing"
    muscle_results     = params.cdna_results + "/01_muscle_results"
    cdna_matches       = params.cdna_results + "/02_cdna_matches"

    // genotyping results
    genotyping         = params.results + "/03_genotyping"
    merged_seqs        = params.genotyping + "/01_final_genotyping_ref"
    mapped_amplicons   = params.genotyping + "/02_mapped_amplicons"
    unfiltered_geno    = params.mapped_amplicons + "/unfiltered"
    filtered_geno      = params.mapped_amplicons + "/filtered"
}
